@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebarStyle {
  background: linear-gradient(359.88deg, #250943 55.29%, #1702ff 127.12%);
}

.links {
  @apply text-white md:text-sm xl:text-base;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 12.5px;
}

.linkFocus {
  @apply py-2.5 bg-white text-[#1A88E1] md:text-sm xl:text-base;
  font-weight: 500;
  /* font-size: 16px; */
  line-height: 12.5px;
}

.subLinkFocus {
  @apply py-2.5 ml-6 lg:ml-10 bg-white text-[#1A88E1] md:text-sm xl:text-base;
  font-weight: 500;
  /* font-size: 16px; */
  line-height: 12.5px;
}
