@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-montserrat: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-montserrat);
  @apply text-xs lg:text-sm 2xl:text-base;
}

.sidebarStyle {
  background: linear-gradient(359.88deg, #250943 55.29%, #1702ff 127.12%);
}

.links {
  @apply text-white text-xs lg:text-sm 2xl:text-base;
  font-weight: 400;
  line-height: 12.5px;
}

.linkFocus {
  @apply py-2.5 bg-white text-[#1A88E1] text-xs lg:text-sm 2xl:text-base;
  font-weight: 500;
  line-height: 12.5px;
}

.subLinkFocus {
  @apply py-2.5 ml-6 lg:ml-10 bg-white text-[#1A88E1] text-xs lg:text-sm 2xl:text-base;
  font-weight: 500;
  line-height: 12.5px;
}

.top-section-container {
  @apply lg:h-[60px];
  background-color: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 4px 30px rgba(26, 136, 225, 0.29);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

/* customer form styles */
.container {
  @apply border rounded-lg;
}
.innerContainer {
  @apply flex items-center px-2 h-full w-full;
}
.formLabel {
  @apply text-darkText py-1.5 w-[35%] border-r h-full;
}
.formInput {
  @apply w-[70%] py-1.5 h-full pl-2 outline-none;
}

.spin-button-none::-webkit-outer-spin-button,
.spin-button-none::-webkit-inner-spin-button {
  appearance: none;
}
